/* Start Global Rules */
:root {
  --pale-blue-color: hsl(243, 100%, 93%);
  --grayish-blue-color: hsl(229, 7%, 55%);
  --dark-blue-color: hsl(228, 56%, 26%);
  --very-darkk-blue-color: hsl(229, 57%, 11%);
}

body {
  font-family: "Raleway", sans-serif;
  background-image: url(../imgs/bg-desktop.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  background-color: var(--very-darkk-blue-color);
  font-size: 14px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  body {
    background-image: url(../imgs/bg-mobile.png);
    background-size: cover;
  }
}
@media (max-width: 767px) {
  body::after {
    display: none;
  }
}
@media (max-width: 767px) {
  .review .box {
    flex-direction: column;
  }
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1440px;
  }
}
/* End Global Rules */

.container {
  display: flex;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }
}
.small-box {
  background-color: var(--dark-blue-color);
  padding: 40px;
  width: 300px;
  border-radius: 10px 100px 10px 10px;
}
.logo {
  margin-bottom: 30px;
}
.icons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icons .img {
  background-color: var(--very-darkk-blue-color);
  padding: 10px;
  border-radius: 10px;
}
.img img {
  height: 20px;
}

.big-box {
  background-color: var(--dark-blue-color);
  flex-basis: 40%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  position: relative;
}
@media (max-width: 767px) {
  .big-box {
    padding-bottom: 100px;
  }
}
p {
  color: var(--pale-blue-color);
}
span {
  font-weight: bold;
}
.prograss {
  position: relative;
  background-color: hsl(229deg 57% 11% / 38%);
  height: 20px;
  width: calc(100% - 20%);
  border-radius: 10px;
}
.prograss span {
  position: absolute;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  width: 80%;
  height: 13px;
  left: 5px;
  top: 20%;
  display: block;
}
.prograss span::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: var(--pale-blue-color);
  width: 10px;
  height: 10px;
  right: 0;
  top: 1px;
}
.prograss::before {
  content: "0 GB";
  position: absolute;
  left: 0;
  bottom: -25px;
  color: var(--pale-blue-color);
  font-size: 15px;
  font-weight: bold;
}

.prograss::after {
  content: "100 GB";
  position: absolute;
  right: 0;
  bottom: -25px;
  color: var(--pale-blue-color);
  font-size: 15px;
  font-weight: bold;
}

.price {
  position: absolute;
  background-color: white;
  width: 220px;
  height: 95px;
  right: 80px;
  top: -35px;
  border-radius: 10px;
}
@media (max-width: 767px) {
  .price {
    top: 120px;
    width: 180px;
    right: 110px;
  }
}
.price::after {
  position: absolute;
  content: "";
  border: 40px solid;
  border-color: transparent white transparent transparent;
  left: 140px;
  top: 40px;
  z-index: 1;
}
@media (max-width: 767px) {
  .price::after {
    display: none;
  }
}
.holder {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  font-size: 40px;
}
h2 {
  color: var(--grayish-blue-color);
  font-weight: bold;
}
h3 {
  color: var(--grayish-blue-color);
  font-weight: bold;
}
